/*BODY***********************************************************************************************/

/*Appliquer le bon font sur tous le site*/
body p, h1, h2, h3, label {
    font-family: "Syne", serif !important;
}



/*HEADER***********************************************************************************************/

/*Réglage des margin et padding du header pour qu'il prenne toute la largeur*/
.header-inner{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.section-inner{
    width: 100%;
}

@media (min-width: 700px) {
    .section-inner {
        width: 100%;
    }
}

/*Réglage pour supprimer la partie basse du header*/
.entry-header{
    display: none;
}

/*Réglage pour reset les margin et padding des liens de menus à 0*/
@media (min-width: 1220px) {
    .primary-menu li {
        margin: 0;
    }
}

/*Réglage de la taille de l'image et de l'espacement à droite*/
.site-logo img {
    width: 300px;
    padding-left: 60px;
}

/*Réglage des espacements, de la couleur et du gras du texte des liens de menus*/
.lien_menu a{
    color: black !important;
    font-weight: 400;
    font-family: "Syne", serif;
    letter-spacing: normal;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-right: 65px;
}

/*Réglage des espacements, de la couleur et du gras du texte du lien de menu "Commander" */
.lien_commander a{
    color: rgb(255, 255, 255) !important;
    font-weight: 500;
    font-family: "Syne", serif;
    letter-spacing: normal;
    background-color:#dc9f96;
    margin: 0 !important;
    padding: 38px 70px 38px 70px;
}

/*Ajout hover liens menus*/
.lien_menu a:hover{
    color: #dc9f96 !important;
}

.lien_commander a:hover{
    text-decoration: underline !important;
    background-color:#be8279 !important;
}

/*Ajouter des marges hautes et basses en responsive */
@media (max-width: 999px) {
    .header-titles-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* Retirer le sous-titre "Menu" */
.toggle-text{
    display: none;
}

/*Ajout d'une marge droite à la croix du menu*/
button.close-nav-toggle{
    padding-right: 20px;
}

/* Ajout d'une marge gauche aux liens de menus*/
@media (max-width: 999px) {
    .ancestor-wrapper a{
        padding-left: 25px !important;
    }
}



/*FOOTER***********************************************************************************************/

/*Cacher la partie du footer (copyright, etc) */
#site-footer , .post-meta-wrapper{
    display: none;
}

/*Centrer le lien*/
.footer-top{
    justify-content: center;
}

/*Réglage des espacements, de la couleur et du gras du texte des liens de menus*/
.lien_menu_footer a{
    color: black !important;
    font-weight: 400;
    font-size: 20px;
    font-family: "Syne", serif;
    letter-spacing: normal;
    margin-top: 38px;
    margin-bottom: 38px;
    margin-right: 65px;
}

.header-footer-group {
    margin-top: 0 !important;
}



/*MAIN***********************************************************************************************/

/*Mettre le conteneur en full widht*/
.elementor-13, .elementor-15 {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

/*Supression du padding haut du conteneur "main"*/
.post-inner{
    padding: 0;
}

.elementor-element{
    padding: 0 !important;
}



/*NOUS RENCONTRER***********************************************************************************************/

@media (min-width: 700px) and (max-width: 767px) {
    .elementor-element-c65cf1b img{
        height:800px !important;
    }
    .elementor-element-3a62991{
        margin-top: -825px !important;
    }
    .elementor-element-ad9dcd1{
        margin-top: -175px !important;
    }
}

/*Réduction de la marge droite de la fleur "Nous rencontrer" en responsive tablette grand*/
@media (min-width: 1024px) and (max-width: 1100px) {
    .elementor-15 .elementor-element.elementor-element-d838216 > .elementor-widget-container{
        margin-right: 875px !important;
    }
}

/*Réduction des marges haute et basse de la fleur "Nous rencontrer" en responsive tablette petit*/
@media (min-width: 700px) and (max-width: 765px) {
    .elementor-15 .elementor-element.elementor-element-d838216 > .elementor-widget-container{
        margin-top: 38px !important;
        margin-bottom: -125px !important;
    }
}

/*Réduction des marges droite, haute et basse de la fleur "Nous rencontrer" en responsive mobile petit*/
@media (max-width: 465px) {
    .elementor-15 .elementor-element.elementor-element-d838216 > .elementor-widget-container{
        margin-left: -110px !important;
        margin-bottom: -90px !important;
        margin-top: 22px !important;
    }
}

/*Réduction des marges droite, haute et basse de la fleur "Nous rencontrer" en responsive mobile petit*/
@media (max-width: 465px) {
    .elementor-15 .elementor-element.elementor-element-d838216 img{
        width: 60px !important;
    }
}

/*Réglage de l'épaisseur du texte du formuliare*/
label {
    font-weight: 500;
}

/*Régalge de l'aspect des champs du formulaire*/
.wpcf7-form-control{
    border-radius: 10px !important;
    border: none;
    border-style: none !important;
}

/*Réglage de la marge basse des labels*/
label br{
    margin-bottom: 10px !important;
}

/*Réglage du bouton envoyer*/
.wpcf7-submit{
    text-transform: none !important;
    background-color: #dc9f96 !important;
    padding: 20px 20% 20px 20% !important;
    margin-left: 20% !important;
}

.wpcf7-textarea{
    height: 250px;
}

/*Réglage largeur formulaire sur téléphone*/
@media (max-width: 450px) {
    .elementor-element-79296f2{
        width: 300px !important;
    }
}

/*Réglage de la largueur du formulaire et de la fleur sur grands smartphone*/
@media (min-width: 450px) and (max-width: 530px){
    .elementor-element-ff064f6 img{
        height: 100px !important;
        width: 96px !important;
    }
    .elementor-element-ff064f6 .elementor-widget-container{
        margin: -180px 0px 0px -390px !important;
    }
}

/*Réglage de la largueur du formulaire et de la fleur sur petits smartphone*/
@media (max-width: 450px){
    .elementor-element-ff064f6 img{
        height: 100px !important;
        width: 96px !important;
    }
    .elementor-element-ff064f6 .elementor-widget-container{
        margin: -220px 0px 0px -295px !important;
    }
}

/*Suppression de la fleur sut tout petit smartphone*/
@media (max-width: 370px){
    .elementor-element-ff064f6 img{
        display:none !important;
    }
}



/*COMMANDER***********************************************************************************************/

/*Mettre le conteneur en full widht*/
.elementor-17 {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

/*Réglage du bloc de commande*/
.block_commande{
    display: flex;
    justify-content: space-around;
    margin-top: -225px;
}

.commande_1, .commande_2{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

/*Réglage de l'apparence des champs du bloc commande*/
.commande{
    border-radius: 0px !important;
    appearance: textfield !important;
    text-align: center;
    padding: 20px 5px 20px 5px !important;
}

/*Passage de infos et livraison sur la même ligne + labels en blanc*/
.block-double{
    display: flex;
    margin-top: 125px;
    color: #FFF;
}

/*Réglage écart entre infos et commande*/
.block_infos{
    margin-right: 75px !important;
}

/*Régalge écart entre labels et champs + hauteur champs*/
.block-double input{
    margin-top: 10px;
    height: 60px;
}

/*Retrait des flècges des champs numéros*/
.block_livraison .wpcf7-number{
    appearance: textfield !important;
}

/*Configuration apparence bouton envoyer*/
.wpcf7-submit{
    font-family: Syne;
    font-weight: 400;
    color: #fff;
    padding: 20px 65px 20px 65px !important;
}

/*Réglage emplacement bouton envoyer*/
.submit{
    display: flex;
    justify-content: center;
}

/*Largeur bouton envoyer*/
.submit p{
    width: 246px;
}

/*Couleur texte bouton envoyer + retrait marges*/
.submit input{
    Margin: 0 !important;
    color:#FFF !important;
}

@media (max-width: 870px){
    .block-double{
        width: 94%;
        justify-self: center !important;
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media (max-width: 1025px){
    .block_commande{
        margin-top: -215px
    }
}

@media (max-width: 767px){
    .block_commande{
        flex-direction: column;
    }
    .commande_1, .commande_2{
        width:100%;
    }
    .commande_1{
        margin-bottom: 35%;
    }
    .elementor-element-5bcc908{
        margin-bottom: -43% !important;
    }
    .block-double{
        margin-top: 105px;
    }
}

@media (max-width: 699px){
    .elementor-element-5bcc908{
        margin-top: 15px !important;
        margin-bottom: -40% !important;
    }
    .block-double{
        margin-top: 95px;
    }
}

@media (max-width: 550px){
    .block_commande{
        margin-top: -625px;
    }
    .elementor-element-409dc6c{
        width: 200px !important;
        text-align: center !important;
    }
    .elementor-element-d7aa76c{
        width: 200px !important;
        text-align: center !important;
    }
    .block-double{
        flex-direction: column;
    }
    .elementor-element-5bcc908{
        display: flex;
        flex-direction: column !important;
        gap: 315px !important;
        text-align: center;
    }
    .block_infos{
        margin-right: 0 !important;
        margin-top: -25px;
        margin-bottom: 65px;
    }
    .block_livraison{
        margin-bottom: 25px;
    }
}

@media (max-width: 435px){
    .elementor-element-5bcc908{
        margin-bottom: -47% !important;
    }
    .block_commande{
        margin-top: -615px;
    }
    .elementor-element-409dc6c{
        width: 200px !important;
        text-align: center !important;
    }
    .elementor-element-d7aa76c{
        width: 200px !important;
        text-align: center !important;
    }
    .block-double{
        margin-top: 115px;
    }
}

@media (max-width: 331px){
    .elementor-element-5bcc908{
        margin-bottom: -60% !important;
    }
    .block_commande {
        margin-top: -575px;
    }
}
