/*BODY***********************************************************************************************/

/*Appliquer le bon font sur tous le site*/
body p, h1, h2, h3 {
    font-family: "Syne", serif !important;
}



/*HEADER***********************************************************************************************/

/*Réglage des margin et padding du header pour qu'il prenne toute la largeur*/
.header-inner{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.section-inner{
    width: 100%;
}

@media (min-width: 700px) {
    .section-inner {
        width: 100%;
    }
}

/*Réglage pour supprimer la partie basse du header*/
.entry-header{
    display: none;
}

/*Réglage pour reset les margin et padding des liens de menus à 0*/
@media (min-width: 1220px) {
    .primary-menu li {
        margin: 0;
    }
}

/*Réglage de la taille de l'image et de l'espacement à droite*/
.site-logo img {
    width: 300px;
    padding-left: 60px;
}

/*Réglage des espacements, de la couleur et du gras du texte des liens de menus*/
.lien_menu a{
    color: black !important;
    font-weight: 400;
    font-family: "Syne", serif;
    letter-spacing: normal;
    margin-top: 38px;
    margin-bottom: 38px;
    margin-right: 65px;
}

/*Réglage des espacements, de la couleur et du gras du texte du lien de menu "Commander" */
.lien_commander a{
    color: rgb(255, 255, 255) !important;
    font-weight: 500;
    font-family: "Syne", serif;
    letter-spacing: normal;
    background-color:#dc9f96;
    margin: 0 !important;
    padding: 38px 70px 38px 70px;
}

/*Ajout hover liens menus*/
.lien_menu a:hover{
    color: #dc9f96 !important;
}

.lien_commander a:hover{
    text-decoration: underline !important;
    background-color:#be8279 !important;
}



/*FOOTER***********************************************************************************************/

/*Cacher la partie du footer (copyright, etc) */
#site-footer{
    display: none;
}

/*Centrer le lien*/
.footer-top{
    justify-content: center;
}

/*Réglage des espacements, de la couleur et du gras du texte des liens de menus*/
.lien_menu_footer a{
    color: black !important;
    font-weight: 400;
    font-size: 20px;
    font-family: "Syne", serif;
    letter-spacing: normal;
    margin-top: 38px;
    margin-bottom: 38px;
    margin-right: 65px;
}



/*MAIN***********************************************************************************************/

/*Mettre le conteneur en full widht*/

.elementor-13 {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

/*Supression du padding haut du conteneur "main"*/
.post-inner{
    padding: 0;
}

.elementor-element{
    padding: 0 !important;
}